@media (min-width: 1100px) {
    :root {
        --content-width: 50%;
    }
}

#toc-aside {
    position: fixed;
    max-width: calc(calc(100% - var(--menu-width) - var(--content-width)) / 2);
    overflow: auto;
    z-index: 50;
    padding-inline: 1vw;
}

#toc-aside summary {
    line-height: 1.6em;
    display: block;
}
